@import "../../common/styles/sass/_mixin.scss";


.contactInfoWrapper{
    @include flex(row, space-between, initial, initial);

    @media (max-width: 768px) {
        .contactInfoWrapper {
            @include flex(center);
        }
    }
}

.contactInfoIcon{
    font-size: 28px;
    margin-right: 65px;
    text-align: center;
    width: 60px;
}

.contactInfo{
  @include flex(column)
}

.contactInfoTitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: white;
}

.contactInfoText{
    display: flex;
    flex-direction: column;
    color: #b0aac0;
}