.projectsBlock{
    min-height: 100vh;
    background-color: #2b2d33;
}

.projectsContainer{
    justify-content: center;
    height: auto;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 1229px){
    .projects{
        justify-content: center;
    }
}

