.projectsBlock {
  padding: 25px 0 80px 0;
  background-color: #272727;

  .projectsContainer {
    justify-content: center;
    height: auto;

    .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      @media screen and (max-width: 1229px) {
        justify-content: center;
      }
    }
  }
}




