.skillsBlock{
    height: 100vh;
    background-color: gray;
}

.skillsContainer{
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.title{
    background-color: gold;
}

.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}