.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #272727;
}

.headerContainer{
    justify-content: flex-end !important;
    align-items: end  !important;
}