@import "/src/components/common/styles/sass/variables";
.title {
    max-width: 710px;
    text-align: center;
    margin-bottom: 36px;
    color: $textColor;
    line-height: 1.2;
    letter-spacing: 5px;
    width: 100%;
    h2 {
        font-weight: 500;
        font-size: 30px;
    }
    p {
        font-size: 20px;
        padding: 20px 0;
        letter-spacing: 1px;
    }
}
