@import "../../../common/styles/sass/mixin";

.nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    column-gap: 1.2rem;

    .navLinkItem {
        color: rgba(255, 255, 255, 0.33);
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        font-family: 'Comfortaa', cursive;
        @include adaptive-font(12.4,8);
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1em;
        transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
    }

    .navLinkItem:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #18272F;
        top: -30px;
        left: 0;
        transform-origin: right;
        transform: scaleY(0);
        transition: transform .3s ease-in-out;
    }

    .navLinkItem:hover::before {
        background-color: #00FF99;
        transform-origin: left;
        transform: scaleX(1);
    }

    .navLinkItem:hover {
        color: #00FF99;
        text-shadow: 0 0 16px rgba(0, 255, 153, 0.55);
    }
}

