.footerBlock{
    display: flex;
    align-items: center;
    background-color: darksalmon;
}

.footerContainer{
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.text{
    margin-top: 5vh;
    background-color: gray;
}

.footerItem{
    display: flex;
    justify-content: space-between;
    width: 280px;
    flex-wrap: wrap;
    border: solid 1px #000000;
    margin-top: 7vh;
}

.footerItem a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: gray;
    width: 65px;
    height: 65px;

}

.footerPrivacy{
    margin-top: 6vh;
}
