.footerBlock{
    text-align: center;
    background-color: #131313;
    padding: 30px 0;

    .footerContainer{
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;

        .text{
            color: #fff;
            font-size: 3rem;
        }

        .footerList{
            display: flex;
            justify-content: center;
            column-gap: 30px;
            margin: 20px auto;
            list-style-type: none;
            .footerItem{
                width: 50px;
                height: 50px;

                svg {
                    color: #fff;
                    transition: color 0.3s ease;
                }

                .cd:hover {
                    color: #bb432c;
                }

                .tg:hover {
                    color: #0088cc;
                }

                .git:hover {
                    color: #000000;
                }

                .link:hover {
                    color: #0077b5;
                }
            }
        }
        .footerPrivacy{
            margin-top: 6vh;
            color: #fff;

            text-align: center;
            font-family: 'Comfortaa', cursive;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.6px;
        }

    }
}


