.mainBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    min-height: 100vh;
    background-color: #272727;
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13));
    background-repeat: no-repeat;
    background-size: 100% 562px;
    background-position: center;

    @media screen and (max-width: 1117px) {
        background-size: 100% 1200px;
    }

    .mainWrapper {
        width: 100%;

        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            @media screen and (max-width: 1117px) {
                justify-content: center;
            }
            @media screen and (max-width: 768px){
                align-items: center;
                flex-direction: column;
                margin-top: 80px !important;
            }

            .mainWrapperBlock {
                display: flex;
                align-items: center;

                .mainWrapperText {
                    padding-left: 30px;
                    border-left: 3px solid #00ff99;
                    position: relative;

                    .mainGeneralTitle {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 35px;
                        line-height: 51px;
                        letter-spacing: 0.07em;
                        color: rgba(255, 255, 255, 0.25);

                        @media screen and (max-width: 1117px) {
                            font-size: 21px;
                            line-height: 31px;
                        }
                    }

                    .mainNameTitle {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 57px;
                        line-height: 90px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                        @media screen and (max-width: 1117px) {
                            font-size: 24px;
                            line-height: 54px;
                        }
                    }
                    .mainDynamicPrint {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        max-width: 440px;
                        height: 80px;
                        border-radius: 20px;
                        background: rgba(0, 0, 0, 0.15);

                        @media screen and (max-width: 1117px) {
                            height: 60px;
                            max-width: 230px;
                        }
                    }

                    .mainPrefixText {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 35px;
                        line-height: 48px;
                        margin-left: 20px;
                        letter-spacing: 0.05em;
                        color: #00FF99;
                        text-shadow: 0 0 16px rgba(0, 255, 153, 0.55);

                        @media screen and (max-width: 1117px) {
                            font-size: 16px;
                            line-height: 31px;
                        }
                    }

                    .mainDescriptionText {
                        font-style: normal;
                        font-weight: 600;
                        margin-top: 20px;
                        font-size: 22px;
                        line-height: 30px;
                        color: rgba(255, 255, 255, 0.35);
                        max-width: 500px;
                        word-wrap: break-word;

                        @media screen and (max-width: 1117px) {
                            font-size: 13px;
                            line-height: 18px;
                        }
                        @media screen and (max-width: 768px){
                            max-width: 238px;
                        }
                    }
                }
            }

            .mainPhoto {
                position: relative;
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;

                @media screen and (max-width: 1117px) {
                    width: 100%;
                    max-width: 300px;
                }
                @media screen and (max-width: 768px){
                    margin-top: 20px;
                }
                .icons {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    pointer-events: none;

                    svg {
                        width: 70px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 10px;

                        @media screen and (max-width: 1117px) {
                            width: 35px;
                            height: 42px;
                        }
                    }

                    .icon {
                        position: absolute;
                        animation: moveWave 5s ease-in-out infinite;

                        &:nth-child(1) {
                            top: 20%;
                            left: 0;
                        }

                        &:nth-child(2) {
                            bottom: 20%;
                            right: 0;
                        }

                        &:nth-child(3) {
                            bottom: 12%;
                            left: 10%;
                        }

                        &:nth-child(4) {
                            top: 5%;
                            right: 15%;
                        }
                    }
                }
                .photo {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@keyframes moveWave {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
}






